
*.xml
bitonicSort/.vs/bitonicSort/v17/.suo
*.db
*.ipch
*.iml
*.sln
*.vcxproj
*.filters
*.user
*.json
*.cmake
*.bin
*.check_cache
*.log
bitonicSort/cmake-build-debug/.ninja_deps
bitonicSort/cmake-build-debug/.ninja_log
*.ninja
*.exe
*.obj
*.recipe
*.pdb
*.ilk
*.lastbuildstate
*.tlog
*.idb
*.iobj
*.ipdb
blockingPlant/.vs/blockingPlant/v17/.suo
ClassExample/extra/.vs/extra/v17/.suo
ClassExample/ProductionPlant/.vs/ProductionPlant/v17/.suo
